In [2]:
#import packages
import sys
import pandas as pd
import os
import operator
import numpy as np

In [3]:
data=pd.read_csv('AB_test_data.csv')

In [4]:
data

        purchase_TF Variant        date        id
0             False       A  2019-11-08  0x25b44a
1             False       B  2020-08-27  0x46271e
2             False       A  2020-06-11  0x80b8f1
3             False       B  2020-08-22  0x8d736d
4             False       A  2020-08-05  0x96c9c8
...             ...     ...         ...       ...
129995        False       A  2020-07-23  0x4089c2
129996        False       A  2020-06-24  0x6a5e3a
129997        False       A  2019-10-12  0x95e302
129998        False       A  2020-03-18  0x7c4afa
129999        False       A  2019-12-09  0x380071

[130000 rows x 4 columns]

In [ ]:
import matplotlib.pyplot as plt
import datetime
import numpy as np

x = data['purchase_TF']
y = data['Variant']

plt.hist(y)
plt.show()

In [81]:
data

        purchase_TF Variant        date        id
0             False       A  2019-11-08  0x25b44a
1             False       B  2020-08-27  0x46271e
2             False       A  2020-06-11  0x80b8f1
3             False       B  2020-08-22  0x8d736d
4             False       A  2020-08-05  0x96c9c8
...             ...     ...         ...       ...
129995        False       A  2020-07-23  0x4089c2
129996        False       A  2020-06-24  0x6a5e3a
129997        False       A  2019-10-12  0x95e302
129998        False       A  2020-03-18  0x7c4afa
129999        False       A  2019-12-09  0x380071

[130000 rows x 4 columns]

In [16]:
pd.crosstab(data['purchase_TF'],data['Variant'])

Variant           A     B
purchase_TF
False        106298  4117
True          18702   883

In [138]:
fp=4117/(4117+106298)
fn=18702/(18702+883)

0.9549144753637988

In [98]:
t_a=18702
f_a=106298
f_b=4117
t_b=883

In [116]:
def prob(t_a,t_b,f_a,f_b):
    p1=t_a/(t_a+f_a)
    p0=t_b/(t_b+f_b)
    p_hat=(t_a+t_b)/(t_a+f_a+t_b+f_b)
    n1=t_a+f_a
    n2=t_b+f_b
    z=(p0-p1)/np.sqrt(p_hat*(1-p_hat)*((1/n1)+(1/n2)))
    import scipy.stats as st
    result=1-st.norm.cdf(z/2)
    return(z,result)

In [118]:
prob(t_a,t_b,f_a,f_b)

(5.2304877183522045, 0.0044581885107330965)

In [17]:
p1=18702/(106298+18702)
p1

0.149616

In [18]:
p0=883/(4117+883)
p0

0.1766

In [19]:
np1=(106298+18702)*18702
np2=883*4117+883
np1>15 and np2>15

True

In [20]:
p_hat=(883+18702)/(883+18702+106298+4117)
p_hat

0.15065384615384617

In [21]:
n1=106298+18702
n2=4117+883
n1

125000

In [22]:
n2

5000

In [23]:
p_hat

0.15065384615384617

In [24]:
z=(p0-p1)/np.sqrt(p_hat*(1-p_hat)*((1/n1)+(1/n2)))
z

5.2304877183522045

In [25]:
z/2

2.6152438591761022

In [26]:
p_value=0.0047
#1% critical value: z(0.01)=2.576
#2.6152438591761022>2.576, result is statistically significant at 1%

In [27]:
std1=np.sqrt((p0*(1-p0))/n1)
std2=np.sqrt((p1*(1-p1))/n2)
std2

0.005044423704329366

In [28]:
std1**2

1.1632995200000001e-06

In [29]:
d=0.1#we set minimum detectable effect at 0.1
a=0.05
b=0.2
za=1.96
zb=1.28
n_min=za*np.sqrt(2*p_hat*(1-p_hat))+zb*np.sqrt((p0*(1-p0))+(p1*(1-p1)))+(1/d**2)
n_min

101.65988023099285

In [30]:
groupa=data['Variant']=='A'
groupb=data['Variant']=='B'
va=data.loc[groupa]
vb=data.loc[groupb]
va

        purchase_TF Variant        date        id
0             False       A  2019-11-08  0x25b44a
2             False       A  2020-06-11  0x80b8f1
4             False       A  2020-08-05  0x96c9c8
5             False       A  2020-03-10  0x751c24
6             False       A  2019-11-05  0x60d2bd
...             ...     ...         ...       ...
129995        False       A  2020-07-23  0x4089c2
129996        False       A  2020-06-24  0x6a5e3a
129997        False       A  2019-10-12  0x95e302
129998        False       A  2020-03-18  0x7c4afa
129999        False       A  2019-12-09  0x380071

[125000 rows x 4 columns]

In [31]:
va.reset_index(inplace=True)
vb.reset_index(inplace=True)
vb

       index  purchase_TF Variant        date        id
0          1        False       B  2020-08-27  0x46271e
1          3        False       B  2020-08-22  0x8d736d
2         59        False       B  2020-08-19  0x3ff83f
3         74        False       B  2020-08-10  0x138d19
4        103        False       B  2020-08-04  0x966e6a
...      ...          ...     ...         ...       ...
4995  129805        False       B  2020-08-27  0x7d95d0
4996  129827        False       B  2020-08-10  0x38a6e8
4997  129879        False       B  2020-08-30  0x6a711a
4998  129910        False       B  2020-08-13  0x13175a
4999  129960        False       B  2020-08-02  0x8d0674

[5000 rows x 5 columns]

In [36]:
data

        purchase_TF Variant        date        id
0             False       A  2019-11-08  0x25b44a
1             False       B  2020-08-27  0x46271e
2             False       A  2020-06-11  0x80b8f1
3             False       B  2020-08-22  0x8d736d
4             False       A  2020-08-05  0x96c9c8
...             ...     ...         ...       ...
129995        False       A  2020-07-23  0x4089c2
129996        False       A  2020-06-24  0x6a5e3a
129997        False       A  2019-10-12  0x95e302
129998        False       A  2020-03-18  0x7c4afa
129999        False       A  2019-12-09  0x380071

[130000 rows x 4 columns]

In [51]:
pd.crosstab(data['purchase_TF'],data['Variant'])

Variant           A     B
purchase_TF
False        106298  4117
True          18702   883

In [57]:
pa=18702/(106298+18702)
pa

0.149616

In [59]:
pb=883/(4117+883)
pb

0.1766

In [60]:
null=pb-pa
null

0.026984000000000008

In [55]:
group=data['Variant']=='A'
groupb=data['Variant']=='B'
va=data.loc[group]
vb=data.loc[groupb]
va

        purchase_TF Variant        date        id
0             False       A  2019-11-08  0x25b44a
2             False       A  2020-06-11  0x80b8f1
4             False       A  2020-08-05  0x96c9c8
5             False       A  2020-03-10  0x751c24
6             False       A  2019-11-05  0x60d2bd
...             ...     ...         ...       ...
129995        False       A  2020-07-23  0x4089c2
129996        False       A  2020-06-24  0x6a5e3a
129997        False       A  2019-10-12  0x95e302
129998        False       A  2020-03-18  0x7c4afa
129999        False       A  2019-12-09  0x380071

[125000 rows x 4 columns]

In [88]:
p_hat

0.15065384615384617

In [67]:
vb.reset_index(inplace=True)
va.reset_index(inplace=True)

In [ ]:
def prob(t_a,t_b,f_a,f_b):
    p1=t_a/(t_a+f_a)
    p0=t_b/(t_b+f_b)
    p_hat=(t_a+t_b)/(t_a+f_a+t_b+f_b)
    n1=t_a+f_a
    n2=t_b+f_b
    z=(p0-p1)/np.sqrt(p_hat*(1-p_hat)*((1/n1)+(1/n2)))
    import scipy.stats as st
    result=1-st.norm.cdf(z/2)
    return(z,result)

In [120]:
data

        purchase_TF Variant        date        id
0             False       A  2019-11-08  0x25b44a
1             False       B  2020-08-27  0x46271e
2             False       A  2020-06-11  0x80b8f1
3             False       B  2020-08-22  0x8d736d
4             False       A  2020-08-05  0x96c9c8
...             ...     ...         ...       ...
129995        False       A  2020-07-23  0x4089c2
129996        False       A  2020-06-24  0x6a5e3a
129997        False       A  2019-10-12  0x95e302
129998        False       A  2020-03-18  0x7c4afa
129999        False       A  2019-12-09  0x380071

[130000 rows x 4 columns]

In [136]:
num=0
a=0.05
b=0.02
pnull=p_hat
palt=pb
lna=np.log(1/a)
lnb=np.log(b)
lnlambda=0
alpha=(1-b)/a
beta=b/(1-a)
while True:
    print(data['Variant'][num])
    if data['Variant'][num]=='B':
        lambdax=np.log(palt/pnull)
    else:
        lambdax=np.log((1-palt)/pnull)
    #print(lambdax)
    lnlambda+=lambdax
    print(lnlambda)
    #if num==10:
    if lnlambda>alpha:
        print('reject null')
        break
    elif lnlambda<beta:
        print('accept null')
        break    
    num+=1

A
1.6984573136914551
B
1.8573598062169654
A
3.5558171199084203
B
3.714719612433931
A
5.413176926125386
A
7.1116342398168415
A
8.810091553508297
A
10.508548867199751
A
12.207006180891206
A
13.90546349458266
A
15.603920808274115
A
17.30237812196557
A
19.000835435657027
A
20.699292749348484
reject null